extends layout
block content
    .container
        header
            h1 Administration
            hr
            a(href="/") Order Page
            span  | 
            a(href="#/thankyou") Thankyou Page
            span  | 
            a(href="#/cart") Cart Page
        section(ng-view)
    script(src='/javascripts/admin.js')