extends layout
block content
    .container
        header
            h1 Administration
            
            h6 Angular Routing
            hr
            a(href="/") Home
            span  | 
            a(href="#/") List
            span  | 
            a(href="#/add") Add

            h6 Express Routing
            hr
            a(href="./order") Order Page
            span  | 
            a(href="./cart") Cart Page
        section(ng-view)
    script(src='/javascripts/admin.js')