extends layout
block content
    .container
        header
            h1 Administration
            hr
            a(href="/") Home
            span  | 
            a(href="#/") List
            span  | 
            a(href="#/add") Add
        section(ng-view)
    script(src='/javascripts/admin.js')