doctype html
html(ng-app="#{app}")
  head
    title Bookstore
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-route.min.js')
  body
    block content