//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     
doctype html
html
    head
        title=cusTitle
    body
        h1=cusContent
        form(action="/order",method="post")
            Item Name:
            input(type="text",name="itemName")
            br
            Item Quantity:
            input(type="text",name="itemQty")
            br
            input(type="submit",value="Submit")
            br