//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     
doctype html
html
    title=pageTitle
    body
        h1 Thank you
        Your Order:
        br
        Item Name: #{ItemName}
        br
        Item Qty: #{ItemQty}

              
    hr
    button(onclick="window.location='cart'") Go To Cart Page